nav a{
    text-decoration:none;
    padding: 10px;
    color: #692f97;
    
}
a:hover,a:active{
    color: black;
    background-color: #cbc2d3;
}
nav{
    text-align: center;
    overflow: hidden;/*this is to touch the top of the page*/  
    position: fixed;
    width: 100%;
    top:0; 
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color:#130714;
    position: sticky;
    top: 0;Student Ambassador at ICFOSS
}
nav li{
    padding: 10px;
    display: inline-block;
    
}
#surf {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    
   
  }
  
  #surf a {
    display: block;
    text-align: center;
    
    transition: all 0.3s ease;
    color: white;
    font-size: 30px;
    
  }
  #surf img{
      height: 35px;
      width: 35px;
      
  }
  #surf a:hover {
      background-color: rgb(158, 62, 161);
  }
  
#project{
    height:600px;
    
}


#dp{
    height: 300px;
    width: 300px;
    
}

header{
    background-image: url("cool-background.png");
    height: 700px;
    margin: 0;
    padding: 0;
    text-align: center;
}
div{
    width: 100%;
    height: 100%;
}
#exp{
    height: 200%;
}
li img{
    width: 40px;
    height: 40px;
}
 h1{
    color:#490A3D;
    font-family: Comic;
}
h2{
    color: #363B73;
}
p{
    font-family: Tahoma, Geneva, sans-serif,fantasy;
}
#contact{
    background-color: #BD1550;
    height: 300px;
    width: 100%;
}
footer{
    background-color:black;
    overflow: hidden;
    
}
/* Intro Blocks
--------------------------------------------------------------------------------------------------------------- */
#introblocks{}
/*#introblocks > li:last-child{margin-bottom:0;} Used when elements stack in small viewports */
#introblocks article {display:inline-block; text-align:center; padding:30px 20px;}
#introblocks article *{margin:0 0 25px 0;}
#introblocks  li{display: inline-block; 
                 padding: 50px;
                 height: 300px;
                 width: 300px;
                 }
#introblocks article .btn{margin:10px 0 0 0;}
/*#introblocks article > :last-child{margin-bottom:0;}*/
#introblocks article i{display:inline-block;
     width:80px; height:80px; line-height:78px; border:1px solid; text-align:center; font-size:32px;}
#introblocks article footer i{width:auto; height:auto; line-height:inherit; border:none; font-size:inherit;}
/* Intro Blocks */
#introblocks article{box-shadow:0px 0px 8px rgba(255,255,255,.2);}
#introblocks article:hover{background-color:rgba(0,0,0,1);}
#introblocks article i{color:rgb(59, 170, 152); border-color:rgba(255,255,255,.2);}
#introblocks article footer i{color:inherit;}
#introblocks article:hover > a i{color:#FFFFFF; background-color:#FD8866; border-color:#FD8866;}
.sectiontitle{
              display:block; 
              max-width:55%; 
              margin:0 auto 80px; 
              text-align:center;
             }


body{color:#DFDFDF; 
    background-color:#210714;
    padding: 0;
    margin: 0;
}


a{color:#FD8866;}

a:active, a:focus{background:transparent;}

hr, .borderedbox{border-color:#D7D7D7;}






.btn{color:#FFFFFF; background-color:#FD8866; border-color:#FD8866;}
.btn:hover{color:inherit; background-color:transparent; border-color:inherit;}
